.card-container{
    display: flex;
    width: 12rem; 
    padding: 10px;
    border-radius: 20px;
    color: #4c3f77;
    font-weight: 500;
    background-color: var(--text-main);
    box-shadow: 0 0 15px #4c3f77;
    transition: all 0.3s ease-in-out;
    overflow: hidden; 
}
.card-container:hover{
    transform: scale(1.05);
}