.projects{
    text-align: center;
    padding: 1% 10% 5% 10%;

    font-size: large;
}
.projects-container{
    padding: 1% 5% 5% 5%;
    background-color: var(--background-projects);
    border-radius: 20px;
    box-shadow: 0 0 10px #a1a1a1;
}
.porjects-cards{
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center; 
    gap: 20px;
}