.about{
    display: flex;
    flex-direction: column;
    padding: 1% 10% 5% 10%;
    text-align: center;
    border-radius: 20px;


}
.about-container{
border-radius: 20px;
box-shadow: 0 0 10px rgb(161, 161, 161);
background-color: var(--background-about);
padding: 1% 10% 5% 10%;

}
.title{
    font-size: 30px;
    text-align: center;
}

.about-description{
    font-size: large;
    text-align: center;
    margin:40px 40px 10px;
}

.linkedIn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

